Repository FractalizeR/mcp_server_yandex_tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

docs: обновить документацию API - уточнить версии v2/v3
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
Due: none

docs: обновление размеров в DOCS.md
  .agentic-planning/plan_documentation_architecture_analysis/2.4_update_docs_md_parallel.md
  DOCS.md
Due: none

docs: обновить статус плана verify_yandex_tracker_api
  .agentic-planning/plan_verify_yandex_tracker_api/0_SUMMARY.md
Due: none

build: модернизация конфигурации Vitest с поддержкой workspace
  .agentic-planning/plan_project_config_improvements/0_OVERVIEW.md
  .agentic-planning/plan_project_config_improvements/2.2_vitest_improvements_parallel.md
  eslint.config.mjs
  package.json
  packages/framework/core/vitest.config.ts
  packages/framework/infrastructure/vitest.config.ts
  packages/framework/search/vitest.config.ts
  packages/servers/yandex-tracker/vitest.config.ts
  vitest.config.ts
  vitest.shared.ts
  vitest.workspace.ts
Due: sort-package-json, prettier --write

build: улучшение конфигурации инструментов качества кода
  .jscpd.json
  .prettierignore
  .prettierrc.json
  knip.json
  package.json
Due: sort-package-json

docs: обновить прогресс этапа 2.3 плана улучшения конфигурации
  .agentic-planning/plan_project_config_improvements/0_OVERVIEW.md
  .agentic-planning/plan_project_config_improvements/2.3_tooling_improvements_parallel.md
Due: none

feat: добавить поддержку Bulk Change API
  packages/servers/yandex-tracker/src/composition-root/definitions/operation-definitions.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/bulk-change/bulk-move.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/bulk-change/bulk-transition.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/bulk-change/bulk-update.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/bulk-change/get-bulk-change-status.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/bulk-change/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/bulk-change/bulk-move-input.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/bulk-change/bulk-transition-input.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/bulk-change/bulk-update-input.dto.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/bulk-change/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/bulk-change.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
Due: prettier --write

docs: обновить прогресс этапа 2.4 плана улучшения конфигурации
  .agentic-planning/plan_project_config_improvements/0_OVERVIEW.md
  .agentic-planning/plan_project_config_improvements/2.4_missing_files_parallel.md
Due: none

fix: исправить упавшие тесты в infrastructure пакете
  packages/framework/infrastructure/tests/cache/entity-cache-key.test.ts
  packages/framework/infrastructure/tests/cache/no-op-cache.test.ts
  packages/framework/infrastructure/tests/http/retry/exponential-backoff.strategy.test.ts
Due: prettier --write

build: исправить knip конфигурацию - игнорировать vitest workspace файлы
  knip.json
Due: none

docs: завершение плана улучшения конфигурации проекта
  .agentic-planning/plan_project_config_improvements/0_OVERVIEW.md
  .agentic-planning/plan_project_config_improvements/COMPLETION_REPORT.md
Due: none

docs: уточнить требования к планам для ИИ агентов
  CLAUDE.md
Due: none

docs: обновить статус плана verify_yandex_tracker_api
  .agentic-planning/plan_verify_yandex_tracker_api/0_SUMMARY.md
  .agentic-planning/plan_verify_yandex_tracker_api/4.1_add_missing_endpoints_parallel.md
Due: none

chore: удалить завершенный план API coverage expansion
  .agentic-planning/REMAINING_WORK_links_api_tests.md
  .agentic-planning/plan_api_coverage_expansion_fin/0.0_overview.md
  .agentic-planning/plan_api_coverage_expansion_fin/1.0_critical_fixes_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.1_complete_comments_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.2_complete_links_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.3_complete_queues_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.4_finalize_attachments_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/3.1_checklists_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/3.2_worklog_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/4.1_projects_api_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/4.2_components_api_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/5.0_final_integration_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/README.md
Due: none

feat: настройка knip для monorepo (этап 2.2)
  .agentic-planning/plan_fix_validation_issues/2.2_configure_knip_parallel.md
  knip.config.js
  package.json
  scripts/run-knip.sh
Due: sort-package-json

refactor: устранить все 3 циркулярные зависимости
  packages/framework/core/src/tools/base/base-definition.ts
  packages/framework/core/src/tools/base/base.types.ts
  packages/framework/core/src/tools/base/tool-metadata.ts
  packages/framework/search/src/tools/search-tools.definition.ts
  packages/framework/search/src/tools/search-tools.metadata.ts
  packages/framework/search/src/tools/search-tools.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/delete/delete-attachment.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/delete/delete-attachment.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/delete/delete-attachment.tool.ts
  packages/servers/yandex-tracker/src/tools/helpers/issue-url/issue-url.tool.ts
Due: prettier --write

docs: обновить план валидации - все этапы завершены
  .agentic-planning/plan_fix_validation_issues/README.md
Due: none

feat: добавить команду build:mcpb в корневой package.json
  package.json
Due: sort-package-json

chore: добавить *.d.ts.map в .gitignore
  .gitignore
Due: none

docs: создать план добавления обязательного параметра fields во все MCP tools
  .agentic-planning/plan_mcp_required_fields/1.1_overview_sequential.md
  .agentic-planning/plan_mcp_required_fields/1.2_preparation_sequential.md
  .agentic-planning/plan_mcp_required_fields/2.1_checklists_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.2_comments_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.3_components_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.4_attachments_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.5_links_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.6_projects_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.7_queues_parallel.md
  .agentic-planning/plan_mcp_required_fields/2.8_worklogs_parallel.md
  .agentic-planning/plan_mcp_required_fields/3.1_validation_sequential.md
  .agentic-planning/plan_mcp_required_fields/4.1_documentation_sequential.md
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

feat(core,yandex-tracker): добавить обязательный FieldsSchema для экономии контекста MCP
  .agentic-planning/plan_mcp_required_fields/README.md
  packages/framework/core/src/tools/common/index.ts
  packages/framework/core/src/tools/common/schemas/fields.schema.ts
  packages/framework/core/src/tools/common/schemas/index.ts
  packages/servers/yandex-tracker/src/common/schemas/fields.schema.ts
Due: prettier --write

feat(checklists): добавить обязательный параметр fields в Checklists tools (definitions + tests)
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.definition.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.definition.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.definition.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
Due: prettier --write

docs: обновить прогресс плана (3/27 tools завершено)
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

feat(comments): добавить обязательный параметр fields во все Comments tools
  .agentic-planning/plan_mcp_required_fields/README.md
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.definition.ts
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.tool.ts
  packages/servers/yandex-tracker/src/tools/api/comments/edit/edit-comment.definition.ts
  packages/servers/yandex-tracker/src/tools/api/comments/edit/edit-comment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/edit/edit-comment.tool.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.definition.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.tool.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/add/add-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/edit/edit-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/get/get-comments.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/edit/edit-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/get/get-comments.tool.test.ts
  packages/servers/yandex-tracker/tsconfig.eslint.json
  packages/servers/yandex-tracker/tsconfig.json
Due: prettier --write

fix(lint): настроить ESLint для тестовых файлов (monorepo + workspace)
  eslint.config.mjs
  packages/servers/yandex-tracker/eslint.config.js
  packages/servers/yandex-tracker/tests/helpers/queue-permission.fixture.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-thumbnail.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/project/get-project.operation.test.ts
  packages/servers/yandex-tracker/tests/using-mock-factories.example.test.ts
  packages/servers/yandex-tracker/tsconfig.eslint.json
  packages/servers/yandex-tracker/tsconfig.json
Due: prettier --write

feat(attachments): добавить обязательный параметр fields во все Attachments tools
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/upload/upload-attachment.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/upload/upload-attachment.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/upload/upload-attachment.tool.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/get/get-attachments.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/upload/upload-attachment.tool.integration.test.ts
Due: prettier --write

feat(links): добавить обязательный параметр fields, убрать ручную фильтрацию
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.tool.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/create/create-link.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/get/get-issue-links.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
Due: prettier --write

feat(projects): добавить обязательный параметр fields
  .agentic-planning/plan_mcp_required_fields/README.md
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-project.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-project.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-projects.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-projects.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-projects.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.tool.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/create-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-projects.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/update-project.tool.test.ts
Due: prettier --write

docs(plan): обновить статус плана MCP required fields - все tools завершены
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

docs(plan): скорректировать план MCP required fields - добавить этапы обновления тестов
  .agentic-planning/plan_mcp_required_fields/3.1_validation_sequential.md
  .agentic-planning/plan_mcp_required_fields/3.2_update_tests_sequential.md
  .agentic-planning/plan_mcp_required_fields/3.3_final_validation_sequential.md
  .agentic-planning/plan_mcp_required_fields/NEXT_SESSION.md
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

test(integration): добавить обязательный параметр fields во все integration тесты
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/add/add-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/get/get-checklist.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/update/update-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/create/create-component.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/get/get-components.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/update/update-component.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/changelog/get-issue-changelog.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/create/create-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/find/find-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/get/get-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/transition/transition-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/transitions/get-issue-transitions.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/update/update-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/create/create-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/fields/get-queue-fields.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/get-queue/get-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/get/get-queues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/update/update-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tool-registry.test.ts
Due: prettier --write

docs(plan): обновить прогресс этапа 3.2 - обновление тестов завершено
  .agentic-planning/plan_mcp_required_fields/3.2_update_tests_sequential.md
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

fix(tests): исправление импортов test-fields и assertions для обязательного параметра fields
  packages/servers/yandex-tracker/tests/helpers/test-fields.ts
  packages/servers/yandex-tracker/tests/helpers/workflow-client.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/add/add-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/get/get-checklist.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/update/update-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/create/create-component.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/get/get-components.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/components/update/update-component.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/changelog/get-issue-changelog.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/create/create-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/find/find-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/get/get-issues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/transition/transition-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/transitions/get-issue-transitions.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/update/update-issue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/create/create-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/fields/get-queue-fields.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/get-queue/get-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/get/get-queues.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/update/update-queue.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/changelog/get-issue-changelog.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/create/create-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/find/find-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/get/get-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/get/get-issue-transitions.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/update/update-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/workflows/issue-lifecycle.test.ts
  packages/servers/yandex-tracker/tests/workflows/issue-search.test.ts
  packages/servers/yandex-tracker/tests/workflows/issue-tracking.test.ts
  packages/servers/yandex-tracker/vitest.config.ts
Due: prettier --write

docs(plan): обновить прогресс этапа 3.3 - финальная валидация
  .agentic-planning/plan_mcp_required_fields/NEXT_SESSION.md
  .agentic-planning/plan_mcp_required_fields/README.md
Due: none

docs(plan): добавить детальное ревью плана миграции на Subpath Imports
  .agentic-planning/plan_migrate_to_subpath_imports/plan-review.md
Due: none

docs: обновить документацию про обязательный параметр fields
  MIGRATION.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/src/tools/README.md
Due: none

refactor: завершить полную миграцию на Node.js Subpath Imports
  .agentic-planning/plan_complete_subpath_migration/COMPLETION_REPORT.md
  CLAUDE.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/src/cli/bin/mcp-connect.ts
  packages/servers/yandex-tracker/src/cli/utils/config-manager.ts
  packages/servers/yandex-tracker/src/cli/utils/interactive-prompter.ts
  packages/servers/yandex-tracker/src/tools/ping.metadata.ts
  packages/servers/yandex-tracker/tests/test-constants.ts
Due: prettier --write

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: *.ts
