Repository FractalizeR/mcp_server_yandex_tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

refactor(scripts): унифицировать npm скрипты во всех workspaces
  CLAUDE.md
  package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/yandex-tracker/package.json
Due: sort-package-json

feat(scripts): добавить quiet/verbose режимы для экономии токенов ИИ
  CLAUDE.md
  package.json
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
  packages/framework/search/package.json
  packages/servers/yandex-tracker/package.json
Due: sort-package-json

test(attachments): добавить test fixtures и unit-тесты для операций
  packages/servers/yandex-tracker/tests/helpers/attachment.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/file-upload.helper.ts
  packages/servers/yandex-tracker/tests/test-files/test-document.pdf
  packages/servers/yandex-tracker/tests/test-files/test-image.png
  packages/servers/yandex-tracker/tests/test-files/test-text.txt
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/delete-attachment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/download-attachment.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-attachments.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-thumbnail.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/upload-attachment.operation.test.ts
Due: prettier --write

docs(attachments): обновить документацию для Attachments API
  packages/servers/yandex-tracker/src/tools/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/entities/README.md
Due: none

test(attachments): добавить integration тесты для 5 MCP Tools
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/get-thumbnail.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/delete/delete-attachment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/download/download-attachment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/get/get-attachments.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/thumbnail/get-thumbnail.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/upload/upload-attachment.tool.integration.test.ts
Due: prettier --write

docs(planning): создать детальный план исправления проблем валидации
  .agentic-planning/plan_fix_validation_issues/1.1_fix_eslint_config_sequential.md
  .agentic-planning/plan_fix_validation_issues/1.2_fix_trivial_issues_sequential.md
  .agentic-planning/plan_fix_validation_issues/2.1_refactor_circular_deps_parallel.md
  .agentic-planning/plan_fix_validation_issues/2.2_configure_knip_parallel.md
  .agentic-planning/plan_fix_validation_issues/README.md
Due: none

chore: создать финальный план завершения API Coverage
  .agentic-planning/plan_api_coverage_expansion_fin/0.0_overview.md
  .agentic-planning/plan_api_coverage_expansion_fin/1.0_critical_fixes_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.1_complete_comments_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.2_complete_links_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.3_complete_queues_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/2.4_finalize_attachments_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/3.1_checklists_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/3.2_worklog_api_parallel.md
  .agentic-planning/plan_api_coverage_expansion_fin/4.1_projects_api_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/4.2_components_api_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/5.0_final_integration_sequential.md
  .agentic-planning/plan_api_coverage_expansion_fin/README.md
Due: none

chore: удалить старый план plan_api_coverage_expansion
  .agentic-planning/plan_api_coverage_expansion/0.0_overview.md
  .agentic-planning/plan_api_coverage_expansion/1.1_preparation.md
  .agentic-planning/plan_api_coverage_expansion/2.1_comments_api.md
  .agentic-planning/plan_api_coverage_expansion/2.2_links_api.md
  .agentic-planning/plan_api_coverage_expansion/2.3_queues_api.md
  .agentic-planning/plan_api_coverage_expansion/2.4_attachments_api.md
  .agentic-planning/plan_api_coverage_expansion/3.1_checklists_api.md
  .agentic-planning/plan_api_coverage_expansion/3.2_worklog_api.md
  .agentic-planning/plan_api_coverage_expansion/3.3_projects_api.md
  .agentic-planning/plan_api_coverage_expansion/3.4_components_api.md
  .agentic-planning/plan_api_coverage_expansion/4.1_integration_testing.md
  .agentic-planning/plan_api_coverage_expansion/README.md
Due: none

docs(attachments): финализировать документацию для Attachments API
  packages/servers/yandex-tracker/src/tools/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
Due: none

chore: обновить статус этапа 2.4 (Attachments API завершен)
  .agentic-planning/plan_api_coverage_expansion_fin/2.4_finalize_attachments_api_parallel.md
Due: none

test(links): добавить тестовое покрытие для Links API
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/delete/delete-link.tool.ts
  packages/servers/yandex-tracker/tests/helpers/link.fixture.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/create/create-link.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/delete/delete-link.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/get/get-issue-links.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/delete/delete-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/create-link.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/delete-link.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/get-issue-links.operation.test.ts
Due: prettier --write

test(queues): добавить unit-тесты для Queues API operations
  packages/servers/yandex-tracker/tests/helpers/queue-dto.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/queue-field.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/queue-permission.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/queue.fixture.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/create-queue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/get-queue-fields.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/get-queue.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/get-queues.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/manage-queue-access.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/queue/update-queue.operation.test.ts
Due: prettier --write

test(comments): добавить unit-тесты для Comments API tools
  packages/servers/yandex-tracker/tests/helpers/comment-dto.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/comment.fixture.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/delete/delete-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/edit/edit-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/get/get-comments.tool.test.ts
Due: prettier --write

docs: обновить статус этапа 2.3 (Queues API unit-тесты для operations завершены)
  .agentic-planning/plan_api_coverage_expansion_fin/2.3_complete_queues_api_parallel.md
Due: none

test(comments): добавить integration-тесты для Comments API
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/add/add-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/delete/delete-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/edit/edit-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/get/get-comments.tool.integration.test.ts
Due: prettier --write

docs: обновить статус этапа 2.3 (Queues API unit-тесты для tools завершены)
  .agentic-planning/plan_api_coverage_expansion_fin/2.3_complete_queues_api_parallel.md
Due: none

fix: resolve merge conflict in mock-server.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
Due: prettier --write

fix(comments): исправить integration-тесты для Comments API
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/edit/edit-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/get/get-comments.tool.integration.test.ts
Due: prettier --write

chore(planning): обновить статус этапа 2.3 (Queues API, 60% завершено)
  .agentic-planning/plan_api_coverage_expansion_fin/2.3_complete_queues_api_parallel.md
Due: none

docs(queues): добавить документацию для Queues API в README
  packages/servers/yandex-tracker/src/tools/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/entities/README.md
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/access/manage-queue-access.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/queues/create/create-queue.tool.integration.test.ts
Due: prettier --write

fix(links): исправить падающие тесты Links API
  .agentic-planning/plan_api_coverage_expansion_fin/2.2_complete_links_api_parallel.md
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/create/create-link.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/get/get-issue-links.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/create/create-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/delete/delete-link.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/get-issue-links.operation.test.ts
Due: prettier --write

feat(worklog): реализовать базовую структуру Worklog API
  packages/servers/yandex-tracker/src/tracker_api/api_operations/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/add-worklog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/delete-worklog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/get-worklogs.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/update-worklog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/worklog/add-worklog.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/worklog/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/worklog/update-worklog.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/worklog/worklog.output.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/worklog.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/duration.util.ts
  packages/servers/yandex-tracker/tests/tracker_api/utils/duration.util.test.ts
Due: prettier --write

feat(checklists): добавить базовую реализацию Checklists API
  packages/framework/core/src/tools/base/tool-metadata.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.definition.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/add/index.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.definition.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/index.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.definition.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/index.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/index.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/index.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.definition.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/add-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/delete-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/get-checklist.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/update-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/add-checklist-item.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/checklist.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/checklist/update-checklist-item.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/checklist-item.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/add-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/delete-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/get-checklist.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/update-checklist-item.operation.test.ts
Due: prettier --write

feat(projects): добавить недостающие 4 MCP tools для Projects API
  packages/servers/yandex-tracker/src/tools/api/index.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/create-project.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/delete-project.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/delete-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/delete-project.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-projects.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-projects.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/get-projects.tool.ts
  packages/servers/yandex-tracker/src/tools/api/projects/index.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.definition.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.schema.ts
  packages/servers/yandex-tracker/src/tools/api/projects/update-project.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/duration.util.ts
Due: prettier --write

feat(checklists): добавить полную поддержку Checklists API
  packages/servers/yandex-tracker/src/composition-root/definitions/operation-definitions.ts
  packages/servers/yandex-tracker/src/composition-root/definitions/tool-definitions.ts
  packages/servers/yandex-tracker/src/tools/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/entities/README.md
  packages/servers/yandex-tracker/tests/helpers/checklist-dto.fixture.ts
  packages/servers/yandex-tracker/tests/helpers/checklist-item.fixture.ts
  packages/servers/yandex-tracker/tests/integration/helpers/mock-server.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/add/add-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/delete/delete-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/get/get-checklist.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/update/update-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/delete/delete-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
Due: prettier --write

docs(planning): обновить статус Checklists API - завершено
  .agentic-planning/plan_api_coverage_expansion_fin/3.1_checklists_api_parallel.md
Due: none

docs(planning): обновить статус Components API - завершено
  .agentic-planning/plan_api_coverage_expansion_fin/4.2_components_api_sequential.md
Due: none

feat(projects): добавить полную поддержку Projects API
  packages/servers/yandex-tracker/src/composition-root/definitions/operation-definitions.ts
  packages/servers/yandex-tracker/src/composition-root/definitions/tool-definitions.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/create-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/delete-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-project.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/get-projects.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/projects/update-project.tool.test.ts
Due: prettier --write

chore: обновить package-lock.json для версии 2.0.0
  package-lock.json
Due: none

fix: добавить поле success в Links API tools formatSuccess
  packages/servers/yandex-tracker/src/tools/api/issues/links/create/create-link.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/delete/delete-link.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.tool.ts
Due: prettier --write

docs: уточнить описание шагов для продолжения работы с планом
  CLAUDE.md
Due: none

docs: create detailed plan for project config improvements
  .agentic-planning/plan_project_config_improvements/0_OVERVIEW.md
  .agentic-planning/plan_project_config_improvements/1.0_foundation_sequential.md
  .agentic-planning/plan_project_config_improvements/2.1_eslint_improvements_parallel.md
  .agentic-planning/plan_project_config_improvements/2.2_vitest_improvements_parallel.md
  .agentic-planning/plan_project_config_improvements/2.3_tooling_improvements_parallel.md
  .agentic-planning/plan_project_config_improvements/2.4_missing_files_parallel.md
  .agentic-planning/plan_project_config_improvements/3.0_validation_sequential.md
  .agentic-planning/plan_project_config_improvements/QUICK_START.md
Due: none

docs: создать план проверки API Яндекс.Трекер
  .agentic-planning/plan_verify_yandex_tracker_api/0_SUMMARY.md
  .agentic-planning/plan_verify_yandex_tracker_api/1.1_update_documentation_sequential.md
  .agentic-planning/plan_verify_yandex_tracker_api/2.1_verify_api_versions_sequential.md
  .agentic-planning/plan_verify_yandex_tracker_api/3.1_fix_found_issues_parallel.md
  .agentic-planning/plan_verify_yandex_tracker_api/4.1_add_missing_endpoints_parallel.md
  .agentic-planning/plan_verify_yandex_tracker_api/5.1_final_validation_sequential.md
  .agentic-planning/plan_verify_yandex_tracker_api/DETAILED_FINDINGS.md
  .agentic-planning/plan_verify_yandex_tracker_api/README.md
Due: none

docs: создать детальный план архитектурного рефакторинга
  .agentic-planning/plan_architecture_refactoring/00_summary.md
  .agentic-planning/plan_architecture_refactoring/1.1_facade_refactoring_sequential.md
  .agentic-planning/plan_architecture_refactoring/1.2_tool_registry_refactoring_sequential.md
  .agentic-planning/plan_architecture_refactoring/1.3_parallel_executor_utils_parallel.md
  .agentic-planning/plan_architecture_refactoring/1.4_search_engine_refactoring_parallel.md
  .agentic-planning/plan_architecture_refactoring/README.md
Due: none

docs: архитектурный анализ документации и план исправлений
  .agentic-planning/plan_documentation_architecture_analysis/1.1_unify_limits_sequential.md
  .agentic-planning/plan_documentation_architecture_analysis/1.2_fix_validation_script_sequential.md
  .agentic-planning/plan_documentation_architecture_analysis/2.1_reduce_tests_readme_parallel.md
  .agentic-planning/plan_documentation_architecture_analysis/2.2_reduce_yandex_tracker_readme_parallel.md
  .agentic-planning/plan_documentation_architecture_analysis/2.3_optimize_architecture_parallel.md
  .agentic-planning/plan_documentation_architecture_analysis/2.4_update_docs_md_parallel.md
  .agentic-planning/plan_documentation_architecture_analysis/README.md
  .agentic-planning/plan_documentation_architecture_analysis/analysis_report.md
Due: none

build: add foundation for config improvements
  .editorconfig
  .nvmrc
  package-lock.json
  package.json
Due: sort-package-json

docs: mark foundation stage as completed
  .agentic-planning/plan_project_config_improvements/1.0_foundation_sequential.md
Due: none

docs: сокращение документации до лимитов (#2.1, #2.2)
  .agentic-planning/plan_documentation_architecture_analysis/2.1_reduce_tests_readme_parallel.md
  .agentic-planning/plan_documentation_architecture_analysis/2.2_reduce_yandex_tracker_readme_parallel.md
  packages/servers/yandex-tracker/README.md
  packages/servers/yandex-tracker/tests/README.md
Due: none

docs: интеграция validate:docs в основной workflow
  .agentic-planning/plan_documentation_architecture_analysis/1.2_fix_validation_script_sequential.md
  CLAUDE.md
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: *.ts
