Repository FractalizeR/mcp_server_yandex_tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

docs(migration): завершить миграцию на Node.js Subpath Imports
  .agentic-planning/plan_migrate_to_subpath_imports/migration-plan.md
  ARCHITECTURE.md
  CLAUDE.md
  packages/servers/yandex-tracker/tests/cli/connectors/claude-code/claude-code.connector.test.ts
  packages/servers/yandex-tracker/tests/cli/connectors/claude-desktop/claude-desktop.connector.test.ts
  packages/servers/yandex-tracker/tests/cli/connectors/codex/codex.connector.test.ts
  packages/servers/yandex-tracker/tests/cli/connectors/gemini/gemini.connector.test.ts
  packages/servers/yandex-tracker/tests/cli/connectors/qwen/qwen.connector.test.ts
  packages/servers/yandex-tracker/tests/cli/connectors/registry.test.ts
Due: prettier --write

docs(planning): добавить детальное архитектурное ревью плана рефакторинга
  .agentic-planning/plan_architecture_refactoring/ARCHITECTURAL_REVIEW.md
Due: none

docs(tools): добавить инструкции по экономии токенов в параметр fields
  packages/servers/yandex-tracker/src/tools/api/issues/create/create-issue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/update/update-issue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.definition.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/update/update-worklog.definition.ts
Due: prettier --write

fix: удалить устаревшую ссылку на src/cli из корневого tsconfig.json
  tsconfig.json
Due: none

fix: добавить обязательный параметр fields в GET tool definitions
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/queues/get-queues.definition.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/get/get-issues.tool.test.ts
Due: prettier --write

docs: уточнить описания для attachment инструментов
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/download/download-attachment.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/upload/upload-attachment.definition.ts
Due: prettier --write

docs: отметить выполнение плана оптимизации tool descriptions
  .agentic-planning/plan_optimize_tool_descriptions/1.1_preparation_sequential.md
  .agentic-planning/plan_optimize_tool_descriptions/2.1_shorten_for_not_for_patterns_parallel.md
  .agentic-planning/plan_optimize_tool_descriptions/2.2_unify_param_descriptions_sequential.md
  .agentic-planning/plan_optimize_tool_descriptions/3.1_validation_and_measurement_sequential.md
Due: none

chore: создать детальный план улучшения покрытия тестами
  .agentic-planning/plan_improve_test_coverage/1.1_preparation_sequential.md
  .agentic-planning/plan_improve_test_coverage/2.1_pagination_util_tests_parallel.md
  .agentic-planning/plan_improve_test_coverage/2.2_file_download_util_tests_parallel.md
  .agentic-planning/plan_improve_test_coverage/3.1_file_upload_edge_cases_parallel.md
  .agentic-planning/plan_improve_test_coverage/3.2_facade_methods_parallel.md
  .agentic-planning/plan_improve_test_coverage/3.3_base_connector_parallel.md
  .agentic-planning/plan_improve_test_coverage/4.1_attachment_tools_error_paths_parallel.md
  .agentic-planning/plan_improve_test_coverage/4.2_activate_e2e_test_parallel.md
  .agentic-planning/plan_improve_test_coverage/4.3_fix_search_integration_parallel.md
  .agentic-planning/plan_improve_test_coverage/5.1_validation_and_finalization_sequential.md
  .agentic-planning/plan_improve_test_coverage/README.md
Due: none

refactor: заменить measure-tools-size на measure-descriptions
  packages/servers/yandex-tracker/scripts/measure-descriptions.ts
  packages/servers/yandex-tracker/scripts/measure-tools-size.ts
Due: prettier --write

docs: добавить целевые метрики для tool descriptions
  packages/servers/yandex-tracker/src/tools/README.md
Due: none

test: добавить тесты для base-connector platform методов
  .agentic-planning/plan_improve_test_coverage/3.3_base_connector_parallel.md
  packages/servers/yandex-tracker/tests/cli/connectors/base/base-connector.test.ts
Due: prettier --write

chore: добавить тесты для facade методов (worklog/fields/boards/sprints)
  .agentic-planning/plan_improve_test_coverage/3.2_facade_methods_parallel.md
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: prettier --write

docs: обновить план улучшения покрытия (этап 4 завершен)
  .agentic-planning/plan_improve_test_coverage/4.1_attachment_tools_error_paths_parallel.md
  .agentic-planning/plan_improve_test_coverage/4.3_fix_search_integration_parallel.md
  .agentic-planning/plan_improve_test_coverage/README.md
Due: none

docs: добавить детальный план миграции на Turborepo
  .agentic-planning/turborepo-migration/PROMPT_FOR_NEXT_SESSION.md
  .agentic-planning/turborepo-migration/QUICKSTART.txt
  .agentic-planning/turborepo-migration/README.md
  .agentic-planning/turborepo-migration/documentation-updates.md
  .agentic-planning/turborepo-migration/package.json.changes.md
  .agentic-planning/turborepo-migration/plan.md
  .agentic-planning/turborepo-migration/turbo.json
Due: none

chore: мигрировать на Turborepo для управления monorepo
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  CLAUDE.md
  package-lock.json
  package.json
  turbo.json
Due: sort-package-json

refactor(turbo): разделить тесты и подсчет покрытия
  turbo.json
Due: none

chore: удалить выполненный план turborepo-migration
  .agentic-planning/turborepo-migration/PROMPT_FOR_NEXT_SESSION.md
  .agentic-planning/turborepo-migration/QUICKSTART.txt
  .agentic-planning/turborepo-migration/README.md
  .agentic-planning/turborepo-migration/documentation-updates.md
  .agentic-planning/turborepo-migration/package.json.changes.md
  .agentic-planning/turborepo-migration/plan.md
  .agentic-planning/turborepo-migration/turbo.json
Due: none

feat: добавить настройку отключения групп MCP инструментов
  manifest.template.json
Due: none

fix: исправить тип настройки disabled_tool_groups на string
  manifest.template.json
Due: none

refactor: переместить манифесты в директорию пакета
  .gitignore
  .lintstagedrc.json
  packages/servers/yandex-tracker/eslint.config.js
  packages/servers/yandex-tracker/manifest.template.json
  packages/servers/yandex-tracker/scripts/build-mcpb.ts
  packages/servers/yandex-tracker/scripts/increment-build.ts
Due: prettier --write

docs: добавить вложенные поля в описание get_issue_changelog
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.definition.ts
Due: prettier --write

docs: создать план предотвращения schema-definition mismatch багов
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/0.1_analyze_current_state_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.1_create_validation_tests_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.2_create_precommit_hooks_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.3_create_tool_templates_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.4_update_documentation_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/2.1_integrate_and_validate_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/3.1_architectural_refactoring_optional_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/QUICK_START.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/README.md
Due: none

docs: исправить содержимое файлов плана для refactoring-first
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/0.1_analyze_current_state_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.1_architectural_refactoring_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/3.1_final_integration_sequential.md
Due: none

docs: обновить описание серверов в yandex-tracker
  packages/servers/yandex-tracker/manifest.template.json
Due: none

fix: всегда обновлять manifest.json из template при сборке
  packages/servers/yandex-tracker/scripts/increment-build.ts
Due: prettier --write

docs: отформатировать long_description в manifest.template.json
  packages/servers/yandex-tracker/manifest.template.json
Due: none

feat: сделать параметр fields обязательным в 5 инструментах
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/create/create-issue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/get/get-issue-transitions.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/update/update-issue.definition.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/changelog/get-issue-changelog.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/create/create-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/get/get-issue-transitions.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/update/update-issue.tool.test.ts
Due: prettier --write

fix: нормализовать массив в ответе API при transition issue
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/transitions/transition-issue.operation.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/issue/transitions/execute/transition-issue.operation.test.ts
Due: prettier --write

chore: обновить npm до 11.6.3
  package.json
Due: sort-package-json

feat(core): добавить автогенерацию MCP definition из Zod schema
  package-lock.json
  packages/framework/core/package.json
  packages/framework/core/src/definition/definition-validator.ts
  packages/framework/core/src/definition/index.ts
  packages/framework/core/src/definition/schema-to-definition.ts
  packages/framework/core/src/definition/zod-json-schema-adapter.ts
  packages/framework/core/src/index.ts
  packages/framework/core/src/tools/base/base-tool.ts
Due: sort-package-json, prettier --write

test(core): добавить тесты для definition generator (WIP)
  packages/framework/core/src/definition/zod-json-schema-adapter.ts
  packages/framework/core/tests/definition/debug-zod-conversion.ts
  packages/framework/core/tests/definition/definition-validator.test.ts
  packages/framework/core/tests/definition/fixtures/complex-schema.ts
  packages/framework/core/tests/definition/fixtures/simple-schema.ts
  packages/framework/core/tests/definition/schema-to-definition.test.ts
  packages/framework/core/tests/definition/zod-json-schema-adapter.test.ts
Due: prettier --write

feat(tools): мигрировать get-issues и transition-issue на getParamsSchema()
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.1_architectural_refactoring_sequential.md
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.tool.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/get/get-issues.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/transitions/execute/transition-issue.tool.test.ts
Due: prettier --write

docs(plan): обновить статус плана - этап 2.3 завершен
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/README.md
Due: none

docs(plan): завершить план prevent_schema_definition_mismatch_bugs
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/3.1_final_integration_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/INTEGRATION_REPORT.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/README.md
Due: none

chore: удалить завершенный план prevent_schema_definition_mismatch_bugs
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/0.1_analyze_current_state_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/1.1_architectural_refactoring_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/2.1_adapt_validation_tests_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/2.2_adapt_tool_templates_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/2.3_update_documentation_parallel.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/3.1_final_integration_sequential.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/ANALYSIS_RESULTS.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/INTEGRATION_REPORT.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/QUICK_START.md
  .agentic-planning/plan_prevent_schema_definition_mismatch_bugs/README.md
Due: none

docs(plan): добавить инструкцию для начала новой сессии
  .agentic-planning/plan_full_tool_migration/SESSION_START.md
Due: none

docs(plan): update status after completing comments migration
  .agentic-planning/plan_full_tool_migration/1.1_migrate_comments_sequential.md
  .agentic-planning/plan_full_tool_migration/README.md
Due: none

feat(migration): migrate simple tools to autogeneration (15/47)
  packages/servers/yandex-tracker/src/tools/api/checklists/add/add-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/get/get-checklist.tool.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/api/components/create-component.tool.ts
  packages/servers/yandex-tracker/src/tools/api/components/delete-component.tool.ts
  packages/servers/yandex-tracker/src/tools/api/components/get-components.tool.ts
  packages/servers/yandex-tracker/src/tools/api/components/update-component.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/delete/delete-worklog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.tool.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/update/update-worklog.tool.ts
  packages/servers/yandex-tracker/src/tools/helpers/demo/demo.tool.ts
  packages/servers/yandex-tracker/src/tools/helpers/issue-url/issue-url.tool.ts
  packages/servers/yandex-tracker/src/tools/ping.tool.ts
  packages/servers/yandex-tracker/tests/tool-registry.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/add/add-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/delete/delete-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/get/get-checklist.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/create-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/delete-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/get-components.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/api/components/update-component.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/helpers/demo/demo.tool.test.ts
  packages/servers/yandex-tracker/tests/tools/helpers/issue-url/issue-url.tool.test.ts
Due: prettier --write

docs: обновить порядок действий при планировании задач
  CLAUDE.md
Due: none

Path conditions:
  sort-package-json: any of: **/package.json
  prettier --write: any of: *.ts
