Repository FractalizeR/mcp_server_yandex_tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "**/package.json": [
    "sort-package-json"
  ],
  "*.ts": [
    "prettier --write"
  ],
  "!(src/cli)/**/*.ts": [
    "eslint --fix"
  ]
}

chore: добавить исключения для намеренных паттернов в линтерах
  .dependency-cruiser.cjs
  knip.json
Due: none

feat: восстановить CLI инструменты автоматической регистрации MCP сервера
  DOCS.md
  package-lock.json
  packages/yandex-tracker/package.json
  packages/yandex-tracker/src/cli/README.md
  packages/yandex-tracker/src/cli/bin/mcp-connect.ts
  packages/yandex-tracker/src/cli/commands/connect.command.ts
  packages/yandex-tracker/src/cli/commands/disconnect.command.ts
  packages/yandex-tracker/src/cli/commands/list.command.ts
  packages/yandex-tracker/src/cli/commands/status.command.ts
  packages/yandex-tracker/src/cli/commands/validate.command.ts
  packages/yandex-tracker/src/cli/connectors/base/base-connector.ts
  packages/yandex-tracker/src/cli/connectors/base/connector.interface.ts
  packages/yandex-tracker/src/cli/connectors/claude-code/claude-code.connector.ts
  packages/yandex-tracker/src/cli/connectors/claude-desktop/claude-desktop.connector.ts
  packages/yandex-tracker/src/cli/connectors/codex/codex.connector.ts
  packages/yandex-tracker/src/cli/connectors/gemini/gemini.connector.ts
  packages/yandex-tracker/src/cli/connectors/qwen/qwen.connector.ts
  packages/yandex-tracker/src/cli/connectors/registry.ts
  packages/yandex-tracker/src/cli/utils/command-executor.ts
  packages/yandex-tracker/src/cli/utils/config-manager.ts
  packages/yandex-tracker/src/cli/utils/file-manager.ts
  packages/yandex-tracker/src/cli/utils/interactive-prompter.ts
  packages/yandex-tracker/src/cli/utils/logger.ts
  packages/yandex-tracker/src/constants.ts
  packages/yandex-tracker/tests/cli/connectors/claude-code/claude-code.connector.test.ts
  packages/yandex-tracker/tests/cli/connectors/claude-desktop/claude-desktop.connector.test.ts
  packages/yandex-tracker/tests/cli/connectors/codex/codex.connector.test.ts
  packages/yandex-tracker/tests/cli/connectors/gemini/gemini.connector.test.ts
  packages/yandex-tracker/tests/cli/connectors/qwen/qwen.connector.test.ts
  packages/yandex-tracker/tests/cli/connectors/registry.test.ts
  packages/yandex-tracker/tsconfig.json
  packages/yandex-tracker/vitest.config.ts
Due: sort-package-json, prettier --write

docs: финальный отчёт аудита миграции на monorepo
  .agentic-planning/migration-audit/FINAL-AUDIT-REPORT.md
  .agentic-planning/migration-audit/README.md
  packages/search/package.json
Due: sort-package-json

chore: доработать план миграции по результатам ревью
  .agentic-planning/plan_multi_server_architecture/0.1_preparation.md
  .agentic-planning/plan_multi_server_architecture/1.1_move_framework_packages.md
  .agentic-planning/plan_multi_server_architecture/1.2_move_server_package.md
  .agentic-planning/plan_multi_server_architecture/1.4_update_documentation.md
  .agentic-planning/plan_multi_server_architecture/2.1_integration_and_validation.md
  .agentic-planning/plan_multi_server_architecture/2.3_final_validation.md
Due: none

chore: финализировать план миграции multi-server архитектуры
  .agentic-planning/plan_multi_server_architecture/0.1_preparation.md
  .agentic-planning/plan_multi_server_architecture/1.4_update_documentation.md
  .agentic-planning/plan_multi_server_architecture/2.1_integration_and_validation.md
Due: none

docs: обновить документацию для multi-server архитектуры
  .agentic-planning/plan_multi_server_architecture/1.4_COMPLETED.md
  ARCHITECTURE.md
  CLAUDE.md
  DOCS.md
  README.md
  scripts/init-environment.sh
Due: none

chore: обновить прогресс Phase 1.1 в плане миграции
  .agentic-planning/plan_multi_server_architecture/1.1_move_framework_packages.md
Due: none

chore: отметить Phase 1.2 как завершенную
  .agentic-planning/plan_multi_server_architecture/1.2_move_server_package.md
Due: none

build: настроить именованные бандлы для multi-server архитектуры
  .agentic-planning/plan_multi_server_architecture/1.3_prepare_build_configs.md
  package-lock.json
  package.json
  packages/servers/README.md
  packages/servers/tsup.config.base.ts
  packages/yandex-tracker/package.json
  packages/yandex-tracker/tsup.config.ts
Due: sort-package-json, prettier --write

docs: обновить документацию для multi-server архитектуры
  .agentic-planning/plan_multi_server_architecture/1.4_COMPLETED.md
Due: none

fix: обновить пути к framework пакетам в tsconfig.json
  packages/servers/yandex-tracker/tsconfig.json
Due: none

fix: добавить wildcard экспорты в framework пакеты
  packages/framework/core/package.json
  packages/framework/infrastructure/package.json
Due: sort-package-json

fix: обновить путь к бандлу в smoke test
  packages/servers/yandex-tracker/scripts/smoke-test-server.ts
Due: prettier --write

docs: удалить устаревшие файлы
  .agentic-planning/.gitkeep
  .agentic-planning/migration-audit/FINAL-AUDIT-REPORT.md
  .agentic-planning/migration-audit/README.md
  CHANGELOG.md
  LICENSE
  MIGRATION.md
  PR_DESCRIPTION.md
  VALIDATION_REPORT.md
  continuation-prompt.md
  dependency-graph.svg
Due: none

fix: исправить префиксы инструментов и добавить inputSchema в search_tools
  packages/framework/search/src/engine/tool-search-engine.ts
  packages/framework/search/src/index.ts
  packages/framework/search/src/utils/build-index-from-registry.ts
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/tests/composition-root/container.test.ts
  packages/servers/yandex-tracker/tests/integration/tools/helpers/search/search-tools.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/mcp/tools/search-tools.tool.test.ts
Due: prettier --write

test: добавить регрессионные тесты для префиксов и inputSchema
  packages/servers/yandex-tracker/tests/integration/tools/helpers/search/search-tools.tool.integration.test.ts
Due: prettier --write

fix: исправить регистрацию essential tools с префиксами
  packages/framework/search/src/generated-index.ts
  packages/servers/yandex-tracker/src/index.ts
  packages/servers/yandex-tracker/tests/tool-registry.test.ts
Due: prettier --write

test: добавить диагностические скрипты для проверки логирования
  packages/servers/yandex-tracker/scripts/list-tool-names.mjs
  packages/servers/yandex-tracker/scripts/test-tool-not-found-smoke.ts
  packages/servers/yandex-tracker/scripts/test-tool-not-found.ts
Due: prettier --write

fix: исправить логирование и обработку префикса сервера в именах инструментов
  packages/framework/infrastructure/src/logging/logger.ts
  packages/servers/yandex-tracker/scripts/test-tool-not-found-smoke.ts
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/src/index.ts
Due: prettier --write

docs: исправить битые ссылки и создать отсутствующую документацию
  .serena/memories/project_overview.md
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/README.md
  packages/servers/yandex-tracker/src/composition-root/README.md
  packages/servers/yandex-tracker/src/tools/README.md
Due: none

refactor: оптимизировать промпты create-issue и find-issues
  packages/servers/yandex-tracker/src/tools/api/issues/create/create-issue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.definition.ts
Due: prettier --write

docs: добавить детальный план оптимизации tool discovery
  .agentic-planning/plan_optimize_tool_discovery/1.1_extend_metadata.md
  .agentic-planning/plan_optimize_tool_discovery/1.2_update_tool_registry.md
  .agentic-planning/plan_optimize_tool_discovery/2.1_update_issues_tools.md
  .agentic-planning/plan_optimize_tool_discovery/2.2_update_helper_tools.md
  .agentic-planning/plan_optimize_tool_discovery/3.1_optimize_descriptions.md
  .agentic-planning/plan_optimize_tool_discovery/3.2_add_metrics_logging.md
  .agentic-planning/plan_optimize_tool_discovery/4.1_documentation.md
  .agentic-planning/plan_optimize_tool_discovery/4.2_tests.md
  .agentic-planning/plan_optimize_tool_discovery/README.md
Due: none

feat: оптимизировать промпты MCP инструментов (часть 2)
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.definition.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/get/get-issue-transitions.definition.ts
  packages/servers/yandex-tracker/src/tools/helpers/issue-url/issue-url.definition.ts
Due: prettier --write

docs: исправить примеры использования workspace команд
  CLAUDE.md
Due: none

feat(core): расширение метаданных инструментов для категоризации
  .agentic-planning/plan_optimize_tool_discovery/1.1_extend_metadata.md
  packages/framework/core/src/tools/base/index.ts
  packages/framework/core/src/tools/base/tool-metadata.ts
  packages/framework/core/tests/tools/base-definition.test.ts
Due: prettier --write

feat(tools): обновить Issues Tools с метаданными категоризации
  .agentic-planning/plan_optimize_tool_discovery/2.1_update_issues_tools.md
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/create/create-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/get/get-issue-transitions.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/update/update-issue.tool.ts
Due: prettier --write

feat(tools): обновить Helper Tools с метаданными категоризации
  .agentic-planning/plan_optimize_tool_discovery/2.2_update_helper_tools.md
  packages/framework/core/src/tools/base/tool-metadata.ts
  packages/servers/yandex-tracker/src/tools/helpers/demo/demo.tool.ts
  packages/servers/yandex-tracker/src/tools/helpers/issue-url/issue-url.tool.ts
  packages/servers/yandex-tracker/src/tools/ping.tool.ts
Due: prettier --write

feat(tools): добавить метрики и категоризацию инструментов
  packages/framework/core/src/tools/base/base-definition.ts
  packages/framework/core/src/tools/base/base-tool.ts
  packages/servers/yandex-tracker/scripts/measure-tools-size.mjs
  packages/servers/yandex-tracker/scripts/measure-tools-size.ts
  packages/servers/yandex-tracker/src/index.ts
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/create/create-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/find/find-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/execute/transition-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/transitions/get/get-issue-transitions.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/update/update-issue.tool.ts
  packages/servers/yandex-tracker/src/tools/helpers/demo/demo.tool.ts
  packages/servers/yandex-tracker/src/tools/helpers/issue-url/issue-url.tool.ts
  packages/servers/yandex-tracker/src/tools/ping.tool.ts
Due: prettier --write

docs(tools): документировать категоризацию и приоритеты инструментов
  packages/framework/core/README.md
  packages/servers/yandex-tracker/src/tools/README.md
  packages/servers/yandex-tracker/tests/mcp/tool-categorization.test.ts
  packages/servers/yandex-tracker/tests/mcp/tool-metadata.test.ts
  packages/servers/yandex-tracker/tests/mcp/tools-metrics.test.ts
Due: prettier --write

chore(plan): обновить статус плана optimize_tool_discovery
  .agentic-planning/plan_optimize_tool_discovery/4.1_documentation.md
Due: none

chore(plan): обновить статус плана optimize_tool_discovery этап 4.2
  .agentic-planning/plan_optimize_tool_discovery/4.2_tests.md
Due: none

docs(claude): добавить правила метаданных инструментов
  packages/servers/yandex-tracker/CLAUDE.md
Due: none

feat: подготовить инфраструктуру для расширения API покрытия
  package-lock.json
  package.json
  packages/servers/yandex-tracker/src/tracker_api/api_operations/README.md
  packages/servers/yandex-tracker/src/tracker_api/api_operations/base-operation.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/README.md
  packages/servers/yandex-tracker/src/tracker_api/entities/common/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/common/pagination.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/common/timestamp.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/common/user-ref.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/README.md
  packages/servers/yandex-tracker/src/tracker_api/utils/file-upload.util.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/pagination.util.ts
  packages/servers/yandex-tracker/tests/helpers/common-fixtures.ts
  packages/servers/yandex-tracker/tests/helpers/file-upload.helper.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/base-operation.test.ts
Due: sort-package-json, prettier --write

chore(plan): обновить статус плана api_coverage_expansion этап 0
  .agentic-planning/plan_api_coverage_expansion/0.0_overview.md
Due: none

feat(attachments): добавить базовую инфраструктуру Attachments API
  packages/framework/infrastructure/src/cache/entity-cache-key.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/delete-attachment.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/download-attachment.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/get-attachments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/get-thumbnail.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/upload-attachment.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/attachment.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/attachments-list.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/download-attachment.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/download-attachment.output.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/index.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/attachment/upload-attachment.input.ts
  packages/servers/yandex-tracker/src/tracker_api/dto/index.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/attachment.entity.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/entity.factories.ts
  packages/servers/yandex-tracker/src/tracker_api/entities/index.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/file-download.util.ts
  packages/servers/yandex-tracker/src/tracker_api/utils/index.ts
Due: prettier --write

chore(plan): обновить статус плана 2.4 Attachments API
  .agentic-planning/plan_api_coverage_expansion/2.4_attachments_api.md
Due: none
