Repository FractalizeR/mcp_server_yandex_tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "**/package.json": [
    "sort-package-json"
  ],
  "*.ts": [
    "prettier --write"
  ],
  "!(src/cli)/**/*.ts": [
    "eslint --fix"
  ]
}

docs(plan): mark stage 4.1 (Polish) as completed
  .agentic-planning/plan_architecture_execution/4.1_polish_parallel.md
  .agentic-planning/plan_architecture_execution/README.md
Due: none

docs: стандартизация документации и обновление лимитов
  CLAUDE.md
  DOCS.md
  DOC_STANDARDS.md
  MCPB.md
  scripts/validate-docs-size.ts
Due: prettier --write

docs(deep): глубокая проверка архитектуры и упрощение примеров
  packages/framework/core/README.md
  packages/framework/infrastructure/README.md
Due: none

refactor(di): стандартизация DI конфигурации и обновление документации
  packages/servers/yandex-tracker/src/composition-root/README.md
  packages/servers/yandex-tracker/src/composition-root/container.ts
  packages/servers/yandex-tracker/src/composition-root/definitions/facade-services.ts
Due: prettier --write

refactor(infrastructure)!: удалить deprecated config и domain-specific код
  MIGRATION.md
  packages/framework/core/src/tool-registry/index.ts
  packages/framework/core/src/tool-registry/tool-filter.service.ts
  packages/framework/core/src/tool-registry/tool-registry.ts
  packages/framework/core/src/tool-registry/types.ts
  packages/framework/infrastructure/README.md
  packages/framework/infrastructure/src/config.ts
  packages/framework/infrastructure/src/constants.ts
  packages/framework/infrastructure/src/index.ts
  packages/framework/infrastructure/src/types.ts
  packages/framework/infrastructure/tests/config.test.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/issue/get-issues.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/user/ping.operation.ts
Due: prettier --write

docs: завершение этапа 2.1 - удаление deprecated config из infrastructure
  .agentic-planning/plan_architecture_improvements/2.1_remove_deprecated_config_sequential.md
Due: none

docs: добавить план выноса CLI в @mcp-framework/cli
  .agentic-planning/plan_cli_framework_extraction/1.1_inventory_sequential.md
  .agentic-planning/plan_cli_framework_extraction/1.2_dependency_analysis_sequential.md
  .agentic-planning/plan_cli_framework_extraction/1.3_api_design_sequential.md
  .agentic-planning/plan_cli_framework_extraction/2.1_package_structure_sequential.md
  .agentic-planning/plan_cli_framework_extraction/2.2_base_types_sequential.md
  .agentic-planning/plan_cli_framework_extraction/2.3_connectors_sequential.md
  .agentic-planning/plan_cli_framework_extraction/3.1_config_manager_parallel.md
  .agentic-planning/plan_cli_framework_extraction/3.2_interactive_prompter_parallel.md
  .agentic-planning/plan_cli_framework_extraction/3.3_utils_parallel.md
  .agentic-planning/plan_cli_framework_extraction/4.1_basic_commands_sequential.md
  .agentic-planning/plan_cli_framework_extraction/4.2_connect_command_sequential.md
  .agentic-planning/plan_cli_framework_extraction/4.3_validate_command_sequential.md
  .agentic-planning/plan_cli_framework_extraction/5.1_yt_adapter_sequential.md
  .agentic-planning/plan_cli_framework_extraction/5.2_update_dependencies_sequential.md
  .agentic-planning/plan_cli_framework_extraction/5.3_cleanup_sequential.md
  .agentic-planning/plan_cli_framework_extraction/6.1_framework_docs_parallel.md
  .agentic-planning/plan_cli_framework_extraction/6.2_framework_tests_parallel.md
  .agentic-planning/plan_cli_framework_extraction/6.3_yt_docs_parallel.md
  .agentic-planning/plan_cli_framework_extraction/7.1_integration_testing_sequential.md
  .agentic-planning/plan_cli_framework_extraction/7.2_monorepo_deps_sequential.md
  .agentic-planning/plan_cli_framework_extraction/7.3_final_validation_sequential.md
  .agentic-planning/plan_cli_framework_extraction/README.md
  .agentic-planning/plan_cli_framework_extraction/SUMMARY.md
Due: none

docs: обновить план CLI extraction v2 после архитектурного ревью
  .agentic-planning/plan_cli_framework_extraction/5.3_cleanup_sequential.md
  .agentic-planning/plan_cli_framework_extraction/5.5_feature_flags_sequential.md
  .agentic-planning/plan_cli_framework_extraction/6.4_breaking_changes_parallel.md
  .agentic-planning/plan_cli_framework_extraction/7.15_performance_benchmarks_sequential.md
  .agentic-planning/plan_cli_framework_extraction/8.1_legacy_cleanup_sequential.md
  .agentic-planning/plan_cli_framework_extraction/README.md
  .agentic-planning/plan_cli_framework_extraction/SUMMARY.md
Due: none

docs: упростить план CLI extraction для прямой миграции
  .agentic-planning/plan_cli_framework_extraction/5.3_cleanup_sequential.md
  .agentic-planning/plan_cli_framework_extraction/5.5_feature_flags_sequential.md
  .agentic-planning/plan_cli_framework_extraction/8.1_legacy_cleanup_sequential.md
  .agentic-planning/plan_cli_framework_extraction/README.md
  .agentic-planning/plan_cli_framework_extraction/SUMMARY.md
Due: none

docs: отметить выполнение пункта 3.1 плана архитектурных улучшений
  .agentic-planning/plan_architecture_improvements/3.1_configurable_retry_parallel.md
Due: none

docs: завершить этап 1.2 - анализ зависимостей CLI
  .agentic-planning/plan_cli_framework_extraction/1.2_dependency_analysis_sequential.md
  .agentic-planning/plan_cli_framework_extraction/DEPENDENCY_MAP.md
Due: none

docs: завершить финальную валидацию архитектурных улучшений
  .agentic-planning/plan_architecture_improvements/4.1_final_validation_sequential.md
  .agentic-planning/plan_architecture_improvements/README.md
Due: none

feat(cli): создать структуру пакета @mcp-framework/cli
  .agentic-planning/plan_cli_framework_extraction/2.1_package_structure_sequential.md
  package-lock.json
  packages/framework/cli/README.md
  packages/framework/cli/eslint.config.js
  packages/framework/cli/package.json
  packages/framework/cli/src/commands/index.ts
  packages/framework/cli/src/connectors/index.ts
  packages/framework/cli/src/index.ts
  packages/framework/cli/src/types.ts
  packages/framework/cli/src/utils/index.ts
  packages/framework/cli/tsconfig.json
  packages/framework/cli/vitest.config.ts
Due: sort-package-json, prettier --write

feat(cli): реализовать базовые типы и интерфейсы коннекторов
  .agentic-planning/plan_cli_framework_extraction/2.2_base_types_sequential.md
  packages/framework/cli/src/connectors/base/base-connector.ts
  packages/framework/cli/src/connectors/base/connector.interface.ts
  packages/framework/cli/src/connectors/base/index.ts
  packages/framework/cli/src/connectors/index.ts
  packages/framework/cli/src/types.ts
  packages/framework/cli/tests/unit/base-connector.test.ts
  packages/framework/cli/tests/unit/types.test.ts
Due: prettier --write

chore(cli): завершить этап 2.1 - структура пакета @mcp-framework/cli
  .agentic-planning/plan_cli_framework_extraction/2.1_package_structure_sequential.md
  package-lock.json
  packages/framework/cli/package.json
Due: sort-package-json

feat(cli): завершить этап 4.2 - Connect команда
  packages/framework/cli/src/commands/connect.command.ts
  packages/framework/cli/src/commands/index.ts
Due: prettier --write

feat(cli): завершить этап 5.1 - Yandex Tracker CLI адаптер
  .agentic-planning/plan_cli_framework_extraction/5.1_yt_adapter_sequential.md
  package-lock.json
  packages/framework/cli/src/commands/connect.command.ts
  packages/framework/cli/src/index.ts
  packages/framework/cli/src/types.ts
  packages/servers/yandex-tracker/package.json
  packages/servers/yandex-tracker/src/cli/bin/mcp-connect.ts
  packages/servers/yandex-tracker/src/cli/prompts.ts
  packages/servers/yandex-tracker/src/cli/types.ts
Due: sort-package-json, prettier --write

feat(cli): завершить этап 5.2 - Обновление зависимостей
  .agentic-planning/plan_cli_framework_extraction/5.2_update_dependencies_sequential.md
  .dependency-cruiser.cjs
Due: none

fix(cli): исправить eslint ошибки и добавить eslintignore для cli-legacy
  .agentic-planning/plan_cli_framework_extraction/5.3_cleanup_sequential.md
  .agentic-planning/plan_cli_framework_extraction/5.5_feature_flags_sequential.md
  packages/servers/yandex-tracker/.eslintignore
  packages/servers/yandex-tracker/src/cli-legacy/bin/mcp-connect.ts
  packages/servers/yandex-tracker/src/cli-legacy/commands/connect.command.ts
  packages/servers/yandex-tracker/src/cli-legacy/commands/disconnect.command.ts
  packages/servers/yandex-tracker/src/cli-legacy/commands/list.command.ts
  packages/servers/yandex-tracker/src/cli-legacy/commands/status.command.ts
  packages/servers/yandex-tracker/src/cli-legacy/commands/validate.command.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/base/base-connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/base/connector.interface.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/base/file-based-connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/claude-code/claude-code.connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/claude-desktop/claude-desktop.connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/codex/codex.connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/gemini/gemini.connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/qwen/qwen.connector.ts
  packages/servers/yandex-tracker/src/cli-legacy/connectors/registry.ts
  packages/servers/yandex-tracker/src/cli-legacy/utils/command-executor.ts
  packages/servers/yandex-tracker/src/cli-legacy/utils/config-manager.ts
  packages/servers/yandex-tracker/src/cli-legacy/utils/file-manager.ts
  packages/servers/yandex-tracker/src/cli-legacy/utils/interactive-prompter.ts
  packages/servers/yandex-tracker/src/cli-legacy/utils/logger.ts
  packages/servers/yandex-tracker/src/cli/README.md
  packages/servers/yandex-tracker/src/cli/bin/mcp-connect-framework.ts
  packages/servers/yandex-tracker/src/cli/bin/mcp-connect.ts
  packages/servers/yandex-tracker/src/cli/feature-flags.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/base/base-connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/base/file-based-connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/claude-code/claude-code.connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/claude-desktop/claude-desktop.connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/codex/codex.connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/gemini/gemini.connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/qwen/qwen.connector.test.ts
  packages/servers/yandex-tracker/tests/cli-legacy/cli/connectors/registry.test.ts
  packages/servers/yandex-tracker/vitest.config.ts
Due: prettier --write

test(cli): добавить комплексное тестовое покрытие для framework/cli
  packages/framework/cli/tests/integration/full-workflow.test.ts
  packages/framework/cli/tests/unit/commands/connect.command.test.ts
  packages/framework/cli/tests/unit/commands/validate.command.test.ts
  packages/framework/cli/tests/unit/connectors/claude-code.test.ts
  packages/framework/cli/tests/unit/connectors/codex.test.ts
  packages/framework/cli/tests/unit/connectors/file-based-connector.test.ts
  packages/framework/cli/tests/unit/connectors/gemini.test.ts
  packages/framework/cli/tests/unit/connectors/qwen.test.ts
Due: prettier --write

docs: отметить прогресс этапа 6.2 CLI framework tests
  .agentic-planning/plan_cli_framework_extraction/6.2_framework_tests_parallel.md
Due: none

docs(core): исправить документацию BatchResultProcessor API
  packages/framework/core/README.md
Due: none

docs: завершить этап 7.2 обновления зависимостей monorepo
  .agentic-planning/plan_cli_framework_extraction/7.2_monorepo_deps_sequential.md
Due: none

docs: завершить план CLI framework extraction
  .agentic-planning/plan_cli_framework_extraction/7.3_final_validation_sequential.md
  .agentic-planning/plan_cli_framework_extraction/SUMMARY.md
Due: none

chore: завершение плана architecture_improvements
  .agentic-planning/plan_architecture_improvements/1.1_validate_current_state_sequential.md
  .agentic-planning/plan_architecture_improvements/2.1_remove_deprecated_config_sequential.md
  .agentic-planning/plan_architecture_improvements/2.2_fix_cache_manager_interface_sequential.md
  .agentic-planning/plan_architecture_improvements/3.1_configurable_retry_parallel.md
  .agentic-planning/plan_architecture_improvements/3.2_di_collision_protection_parallel.md
  .agentic-planning/plan_architecture_improvements/4.1_final_validation_sequential.md
  .agentic-planning/plan_architecture_improvements/EXECUTION_GUIDE.md
  .agentic-planning/plan_architecture_improvements/README.md
  .agentic-planning/plan_architecture_improvements/validation_results.md
  package-lock.json
Due: none

feat(batch): добавить batch support для get-issue-links
  .agentic-planning/plan_batch_operations/1.2_get_issue_links_batch_parallel.md
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/link/get-issue-links.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/issue-link.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/links/get/get-issue-links.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/link/get-issue-links.operation.test.ts
Due: prettier --write

feat(comments): добавить batch-поддержку для get-comments
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/comment/get-comments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/comment.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/get/get-comments.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/get/get-comments.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/get-comments.operation.test.ts
  packages/servers/yandex-tracker/tests/workflows/full-issue-lifecycle.integration.test.ts
Due: prettier --write

fix(batch): исправить маппинг failed results в batch operations
  .agentic-planning/plan_batch_operations/1.1_get_comments_batch_parallel.md
  packages/servers/yandex-tracker/src/tools/api/comments/get/get-comments.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/changelog/get-issue-changelog.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/get/get-issues.tool.ts
  packages/servers/yandex-tracker/src/tools/api/issues/links/get/get-issue-links.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/tests/tools/api/issues/links/get/get-issue-links.tool.test.ts
  packages/servers/yandex-tracker/tests/workflows/full-issue-lifecycle.integration.test.ts
Due: prettier --write

test(comments): добавить unit-тесты для batch support в add-comment
  packages/servers/yandex-tracker/src/tools/api/comments/add/add-comment.metadata.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/comments/add/add-comment.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/comments/add/add-comment.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/comment/add-comment.operation.test.ts
  packages/servers/yandex-tracker/tests/workflows/full-issue-lifecycle.integration.test.ts
Due: prettier --write

feat(worklogs): добавить batch support в get-worklogs tool
  .agentic-planning/plan_batch_operations/3.1_get_worklogs_batch_parallel.md
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/get/get-worklogs.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/get-worklogs.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/worklog.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/worklog/get-worklogs.operation.test.ts
Due: prettier --write

docs: обновить документацию для batch operations
  ARCHITECTURE.md
  MIGRATION.md
  packages/servers/yandex-tracker/CLAUDE.md
  packages/servers/yandex-tracker/README.md
Due: none

chore: удалить устаревшие Serena memory файлы
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
Due: none

feat(worklog): добавить batch support в add-worklog tool
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.schema.ts
  packages/servers/yandex-tracker/src/tools/api/worklog/add/add-worklog.tool.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/worklog/add-worklog.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/worklog.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/worklog/add-worklog.operation.test.ts
Due: prettier --write

feat(attachments): добавить batch support в get-attachments tool
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.schema.ts
  packages/servers/yandex-tracker/src/tools/api/issues/attachments/get/get-attachments.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/attachment/get-attachments.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/issue-attachment.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/issues/attachments/get/get-attachments.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/attachment/get-attachments.operation.test.ts
Due: prettier --write

docs(planning): добавить план batch operations
  .agentic-planning/plan_batch_operations/0_overview.md
  .agentic-planning/plan_batch_operations/1.1_update_checklist_item_parallel.md
  .agentic-planning/plan_batch_operations/1.2_delete_checklist_item_parallel.md
  .agentic-planning/plan_batch_operations/2_validation_sequential.md
Due: none

feat(checklists): добавить batch support в delete-checklist-item tool
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/delete/delete-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/delete-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/checklist.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/delete/delete-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/delete/delete-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/delete-checklist-item.operation.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/facade/yandex-tracker.facade.test.ts
Due: prettier --write

feat(checklists): добавить batch support в update-checklist-item tool
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.metadata.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.schema.ts
  packages/servers/yandex-tracker/src/tools/api/checklists/update/update-checklist-item.tool.ts
  packages/servers/yandex-tracker/src/tools/generated-index.ts
  packages/servers/yandex-tracker/src/tracker_api/api_operations/checklist/update-checklist-item.operation.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/services/checklist.service.ts
  packages/servers/yandex-tracker/src/tracker_api/facade/yandex-tracker.facade.ts
  packages/servers/yandex-tracker/tests/integration/tools/api/checklists/update/update-checklist-item.tool.integration.test.ts
  packages/servers/yandex-tracker/tests/tools/api/checklists/update/update-checklist-item.tool.test.ts
  packages/servers/yandex-tracker/tests/tracker_api/api_operations/checklist/update-checklist-item.operation.test.ts
Due: prettier --write

feat(yandex-wiki): добавить unit тесты и документацию для Фазы 1
  .agentic-planning/plan_yandex_wiki_mcp_server/0_overview.md
  packages/servers/yandex-wiki/CLAUDE.md
  packages/servers/yandex-wiki/README.md
  packages/servers/yandex-wiki/tests/helpers/index.ts
  packages/servers/yandex-wiki/tests/helpers/mock-factories.ts
  packages/servers/yandex-wiki/tests/helpers/page.fixture.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/clone-page.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/create-page.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/delete-page.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/get-page-by-id.operation.test.ts
  packages/servers/yandex-wiki/tests/unit/wiki_api/api_operations/page/get-page.operation.test.ts
Due: prettier --write
